@model DA1.Models.Domain.NewsDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<div style="margin-left:50px; padding-top:100px;  max-width:1170px; padding-bottom:100px">

    <h1 style="text-decoration: none; text-transform: uppercase; font-size: 70px; font-weight: 800; ">Create</h1>

    <h4 style="text-decoration: none; text-transform: uppercase; font-size: 50px; font-weight: 800; ">News</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label" style="padding:20px;  border-left: .25rem solid #1cc88a!important;"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nameposted" class="control-label" style="padding:20px; border-left: .25rem solid #ff00dc!important;"></label>
                    <input asp-for="Nameposted" class="form-control" />
                    <span asp-validation-for="Nameposted" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateDate" class="control-label" style="padding:20px; border-left: .25rem solid #ff0000!important;"></label>
                    <input asp-for="CreateDate" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewsID" class="control-label" style="padding:20px;  border-left: .25rem solid #00ffff!important;"></label>
                    <select asp-for="NewsID" class="form-control" asp-items="ViewBag.NewsID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
