
@{
    ViewData["Title"] = "ResultPay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height:725px; padding-top:100px; padding-bottom: 100px">
    <div class="row">
        <div class="col-lg-6">
            <img style="height: 500px; margin-left: 150px;" src="~/Img/11.jpg" />
        </div>
        <div class="col-lg-6" style="text-align:left; text-transform:uppercase; font-weight:700; line-height:0.75; vertical-align:central; margin-top:60px; font-family:monospace!important; color: #808080!important">
            <h1>thank you</h1>
            <br />
            <h1>for</h1>
            <br />
            <h1>trusting</h1>
            <br />
            <h1>our</h1>
            <br />
            <h1>store</h1>
            <div style="margin-top: 10px">
                <a asp-controller="Product" asp-action="Product" style="color:#808080; text-decoration:none;"> < - RETURN TO HOME</a>
            </div>
        </div>
    </div>
</div>

