
@{
    ViewData["Title"] = "Cartnull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top:100px;">
    <div style="font: normal normal normal 14px/1 FontAwesome; font-size:550px; color: #808080!important; text-align:center">
        <i class="fas fa-shopping-cart"></i>
    </div>
    <h1 style="text-align: center; font-family:monospace!important; color: #808080 !important; font-weight: 600">
        NO ITEM IN HERE
    </h1>
    <div style="text-align: center">
        <a asp-controller="Product" asp-action="Product" style="color: #808080; text-decoration: none">< - CONTINUE SHOPPING</a>
    </div>
</div>


