@model DA1.Models.Domain.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

    <div style="margin-left:50px; padding-top:100px;  max-width:1170px; padding-bottom:100px">

        <h1 style="text-decoration: none; text-transform: uppercase; font-size: 70px; font-weight: 800; ">Create</h1>

        <h4 style="text-decoration: none; text-transform: uppercase; font-size: 50px; font-weight: 800; ">News</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NewsImage" class="control-label" style="padding:20px;  border-left: .25rem solid #1cc88a!important;"></label>
                        <input type="file" asp-for="NewsImage" class="form-control" />
                        <span asp-validation-for="NewsImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label" style="padding:20px; border-left: .25rem solid #ff00dc!important;"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sub_content" class="control-label" style="padding:20px; border-left: .25rem solid #ff0000!important;"></label>
                        <input asp-for="Sub_content" class="form-control" />
                        <span asp-validation-for="Sub_content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

