
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<DA1.Models.Domain.News>
    <div style="padding-top:77px">
        <div class="cta__item set-bg" style=" background-image: url(https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/99070182_249590282797076_4775822166488776704_o.jpg?_nc_cat=102&amp;_nc_sid=730e14&amp;_nc_ohc=WOXCmRJuI_EAX_9AVze&amp;_nc_ht=scontent.fvca1-1.fna&amp;oh=88d5febef566843307eaab627d3f7221&amp;oe=5F30683B); background-repeat: no-repeat; padding: 70px 0 60px; background-size: cover; background-position: top center;">
            <div class="container" style="width:100%; padding-right:15px; padding-left:15px; margin-right:auto; margin-left: auto">
                <div class="row" style="display:flex; flex-wrap: wrap; margin-left: -15px; margin-right:-15px;">
                    <div class="col-lg-12 text-center" style="text-align: center !important; flex: 0 0 100%; max-width: 100%; position: relative; width: 100%; padding-right: 15px; padding-left: 150px;">
                        <div class="breadcrumb__text">
                            <h2 style="color: #ffffff; font-weight: 700; font-size: 46px; margin-bottom: 6px; margin:0">
                                Our News
                            </h2>
                            <div class="breadcrumb__links" style="text-align: center !important">
                                <a asp-controller="lambor" asp-action="Index" style="font-size: 15px; color: #ffffff; margin-right: 18px; display: inline-block; position: relative; text-decoration: none">
                                    <i class="fa fa-home" style="color: #db2d2e; margin-right: 5px">
                                    </i>
                                    Home &gt;
                                </a>
                                <span style="font-size: 15px; color: #727171; display: inline-block">
                                    News
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container" style="max-width: 1170px">

    <div class="row" style="display:flex; flex-wrap:wrap; margin-right:-15px; margin-left:-15px; box-sizing:border-box; padding-top: 100px;">
        <div class="col-lg-12" style="flex: 0 0 100%; max-width: 100%; position: relative; width:100%; padding-right:15px; padding-left:15px;">
            <div class="section-title" style="text-align:center; box-sizing:border-box">
                <span style="font-size:15px; color: #db2d2e; font-weight: 700; text-align:center">Our News</span>
                <h2 style="color:#353535; font-size: 40px; font-weight: 700; margin-top:5px; margin-bottom: 16px; line-height:1.2;">Latest News Updates</h2>
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row" style="display:flex; flex-wrap: wrap; padding-left: -15px; padding-right: -15px; padding-top:30px;">
            <div class="col-lg-6 " style="position:relative; width: 100%; padding-left: 15px; padding-right: 15px;">
                <div class="blog-item" style="box-sizing:border-box; display: block">
                    <div style="position: relative; border-radius: 2px; box-sizing:border-box">
                        <img style="max-width:550px; max-height:300px;" src="~/Img/news/@item.NewsImage" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="position:relative; width: 100%; padding-left: 15px; padding-right: 15px;">
                <div style="padding-top:10px; box-sizing:border-box">
                    <h5 style="font-size: 20px; color: #323232; font-weight: 700; line-height: 28px; margin-bottom: 14px;">
                        @item.Title
                    </h5>
                    <div style=" display:inline-block;overflow:hidden;">
                        <p style="color: #8d8d8d; margin-bottom: 20px; font-size: 15px; font-family: sans-serif; font-weight: 400; line-height: 25px; margin: 0 0 15px 0; ">
                            @item.Sub_content
                        </p>
                    </div>
                    @*<span style="display:block; color: #8d8d8d; font-size: 15px; font-family: sans-serif; font-weight: 400; line-height: 25px;">...</span>*@
                    <a asp-controller="News" asp-action="NewsDetail" asp-route-id="@item.NewsID" style="font-size: 15px; color: #8d8d8d; font-weight: 700; display: inline-block; background-color: transparent; text-decoration: none;">
                        View More
                        <i class="fa fa-long-arrow-right" style="margin-left: 6px; color: #db2d2e"></i>
                    </a>
                </div>
            </div>
        </div>
    }

    <div class="pagination__option" style="padding-top:10px; ">
        @for (int i = 0; i < ViewBag.count; i++)
        {
            <a href="@Url.Action("News", "News", new { begin=i})" class="active" style="border-color: #db2d2e; color: #353535; display: inline-block; height: 50px; width:50px; font-size: 18px; font-weight: 700; border: 1px solid #ebebeb; border-radius: 2px; line-height: 50px; text-align: center; margin-right: 6px; transition: all, 0.3s">
                @i
            </a>}
    </div>
</div>